.crd .hvrbtn{
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}
.crd:hover .hvrbtn{
    width: 127%;
    height: 50px;
    border: 1px solid #28a745;
    color: #28a745;
    background-color: white;
    border-radius: 5px;
    margin-left: -16px;
    margin-top: -5px;
}
.hvrbtn{
    width: 127%;
    background-color: transparent;  
}
.hvrbtn:hover{
    width: 127%;
    color: white;
    background-color: #28a745;
}